# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/aclocal.m4
*.in
/autom4te.cache/
*.log
*.info
/compile
/configure
/configure~
/depcomp
/install-sh
/missing

# Generated Makefiles
/Makefile
/src/Makefile
/doc/Makefile
/doc/examples/Makefile
config.status

# Built executables
/src/cosmosurvey
/src/cosmoplot
/src/cosmotest
